// variables

$header: 'Nunito Sans', sans-serif;
$text-primary: 'Open Sans', sans-serif;

$white: rgb(254, 255, 253);
$black: rgb(24, 29, 37);

// mixins

@mixin font-size-value($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}

// wrappers
.wrapper--max {
    max-width: 2500px;
    margin: 0 auto;
}

.wrapper--inner {
    max-width: 1000px;
    margin: 30px auto;
}

.wrapper--inner--footer {
    max-width: 1350px;
    margin: 0px auto;
}

// base size

html {
    font-size: 62.5%;
}

// general

body {
    text-align: center;
}

main {
    background:
    url("https://kaydeedee.github.io/speak-feel/public/styles/assets/clear-day--background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1px;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    @include font-size-value(14);
}

p {
    @include font-size-value(20);
}

button {
    @include font-size-value(22);
    font-weight: 500;
}

p, a, button {
    color: $black;
    font-family: $text-primary;
}

p, a {
    font-weight: 400;
}
// wrapper stick to bottom responsive
.footer--wrapper-responsive {
    min-height: calc(100vh - 15vh);
    background: rgba($white, 0.8);
    box-shadow: 2px 2px 14px 4px lighten($black, 60);
    margin-bottom: 20px;
    margin-top: 10px;
}
