// text on intro screen
.pre-text--pre-results {
    p {
        margin-bottom: 55px;
        @include font-size-value(25);
    }
}

// loading screen/icon

// z-indexs given to fix IE bug
loader {
    background: $white;
    padding: 1px;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 4;
    .loading-icon--container {
        margin-top: 35vh;
        padding: 10px;
        z-index: 3;
    }
    .fa-spinner {
    @include font-size-value(64);
    z-index: 2;
    margin-top: 25px;
    }
    p {
        margin-top: 0;
    }
    .h1-icon--flex {
        padding: 10px;
    }
}

.weather-results, loader {
    display: none;
}

// where results are displayed
.general-body--styles {
    padding: 20px 40px;
    width: 75%;
    margin-top: 3vh;
}

.weather-results--total {
    background: rgba($white, 0.7);
    min-height: 570px;
}

.weather-results--styles {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
        border-radius: 8px;
        padding: 8px 10px;
        border: 1.5px solid $black;
        transition: 0.2s linear;
        text-transform: uppercase;
        background: $white;
        &:hover {
            color: $white;
            background: $black;
        }
    }
    .fa-info-circle {
        padding-left: 5px;
        margin-top: 7.5px;
        @include font-size-value(14);
        cursor: pointer;
        &:hover {
            color: lighten($black, 30);
        }
        &:active {
            color: black;
        }
        &:focus{
            color: black;
        }
    }
}

.temp-current--leading-temp {
    @include font-size-value(50);
    margin-top: 0;
    margin-bottom: 0;
    }

#icon1 {
    height: 130px;
    max-width: 250px;
    }

// result specific formatting
.weather-results--flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    p {
        margin-top: 0;
        margin-bottom: 25px;
    }
    .week-ahead--results {
        margin-bottom: 5px;
    }
}

// all subtitles
.weather-results--sub-titles {
    font-weight: 600;
}

// type of precip
.precip-type--results {
    text-transform: capitalize;
}

// date and time and UV extra info text

.info-circle-hover--text-p, .date-time--results-p {
    @include font-size-value(14);
    color: lighten($black, 40);
}

.date-time--results-p {
    margin-top: 8px;
    margin-bottom: 3px;
}

// icon click to show info
.info-circle-hover--text {
    display: none;
    width: 100%;
}

.info-circle-hover--text-p {
    margin-top: 0px;
} 

// week ahead summary
.daily-week--results {
    margin-top: 0;
}

// info icon and text
.icon-uv--flex {
    display: flex;
    height: 20px;
}

// media queries general

@media (max-width: 850px){
    .general-body--styles {
        width: 85%;
    }
}

@media (max-width: 470px){
    #icon1 {
        height: 100px;
        max-width: 230px;
    }
    p {
        @include font-size-value(17);
    }
    button {
        @include font-size-value(18.5);
    }   
    .temp-current--leading-temp {
        @include font-size-value(40);
    }
    .weather-results--styles .fa-info-circle {
        margin-top: 5px;
        height: 10px;
    }
    loader .loading-icon--container {
        margin-top: 20vh;
        padding: 20px;
    }
}

@media (max-width: 385px){
    .weather-results--flex {
        flex-direction: column;
        .weather-results--sub-titles {
            margin-bottom: 5px;
        }
    }
    .icon-uv--flex {
        margin: 0 auto;
        margin-bottom: 15px;
    }
}

// loading screen for landscape

@media (max-width: 840px) and (max-height: 390px) {
    loader .loading-icon--container {
        margin-top: 10vh;
    }
}